.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  height: 100vh; /* Full height of the viewport */
  width: 100vw;  /* Full width of the viewport */
  display: flex;
  align-items: flex-start; /* Align items at the top */
  justify-content: center;
  padding-top: 20px; /* Add some padding from the top */
}

.outer {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center;
  justify-content: flex-start; /* Align items at the top */
}

.inner {
  display: flex;
  flex-direction: column; /* Align buttons vertically */
  gap: 10px; /* Space between buttons */
  justify-content: flex-start; /* Align items at the top */
}

button {
  padding: 20px 40px; /* Make buttons bigger */
  font-size: 18px; /* Increase font size */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .container {
    padding-top: 10px; /* Adjust padding for smaller screens */
  }

  button {
    padding: 1px 15px; /* Adjust button size for smaller screens */
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  input {
    width: 80%; /* Make input field responsive */
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  #qrcodevalue {
    width: 100%; /* Make QR code responsive */
    height: auto; /* Maintain aspect ratio */
  }
}
